# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [114]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# # Import API key
# from api_keys import g_key

# Google API Key
from api_keys import g_key
from api_keys import weather_api_key
from itertools import product
from itertools import permutations

# Access maps with unique API key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [115]:
weather_map_df = pd.read_csv('output_data\cities.csv', delimiter = ',')

In [116]:
weather_map_df.head()

          city country    lat     lon   temp  humidity  cloudiness  wind speed
0      Rikitea      PF -23.12 -134.97  72.50        74           7       15.68
1       Cairns      AU -16.92  145.77  74.59        83          75        8.05
2  New Norfolk      AU -42.78  147.06  39.47        72           0        1.39
3       Ossora      RU  59.24  163.07  37.54        79         100        4.72
4   Lavrentiya      RU  65.58 -171.00  28.87        93          50        5.61

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [117]:
# Store latitude and longitude in locations
locations = weather_map_df[["lat", "lon"]]

# Fill NaN values and convert to float
humidity = weather_map_df["humidity"].astype(float)

In [118]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [119]:
temp_low = weather_map_df['temp']>70
print(temp_low.head())

temp_high = weather_map_df['temp']<80
print(temp_high.head())

wind_filter = weather_map_df['wind speed']<10
print(wind_filter.head())

sun_filter = weather_map_df['cloudiness']<1
print(sun_filter.head())

0     True
1     True
2    False
3    False
4    False
Name: temp, dtype: bool
0    True
1    True
2    True
3    True
4    True
Name: temp, dtype: bool
0    False
1     True
2     True
3     True
4     True
Name: wind speed, dtype: bool
0    False
1    False
2     True
3    False
4    False
Name: cloudiness, dtype: bool

In [120]:
weather_map_templ_df = weather_map_df[temp_low]
print(weather_map_templ_df.tail())

          city country    lat     lon   temp  humidity  cloudiness  wind speed
569     Dingle      PH  11.00  122.67  76.19        86          92        3.80
570    Banamba      ML  13.55   -7.45  95.50        28          84        4.38
573  Dhidhdhoo      MV   6.88   73.10  83.21        77          86       22.50
574   Petatlán      MX  17.52 -101.27  84.20        70           5        1.57
576    Tsabong      BW -26.02   22.40  85.62        14           0        3.60

In [121]:
weather_map_tempboth_df = weather_map_templ_df[temp_high]
print(weather_map_tempboth_df.tail())

             city country    lat     lon   temp  humidity  cloudiness  \
553       Pa Daet      TH  19.50   99.99  73.72        94          20
555       Honāvar      IN  14.28   74.45  75.85        90         100
564  Richards Bay      ZA -28.78   32.04  70.81        66           0
565       Machalí      CL -34.18  -70.67  77.05        36           2
569        Dingle      PH  11.00  122.67  76.19        86          92

     wind speed
553        2.24
555        2.55
564       17.43
565        5.70
569        3.80

<ipython-input-121-27ef9779922f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  weather_map_tempboth_df = weather_map_templ_df[temp_high]

In [122]:
weather_map_tempboth_df.count()

city          137
country       136
lat           137
lon           137
temp          137
humidity      137
cloudiness    137
wind speed    137
dtype: int64

In [123]:
weather_map_wind_df = weather_map_tempboth_df[wind_filter]
print(weather_map_wind_df.tail())

        city country    lat     lon   temp  humidity  cloudiness  wind speed
547  Sambava      MG -14.27   50.17  75.27        82           4        8.37
553  Pa Daet      TH  19.50   99.99  73.72        94          20        2.24
555  Honāvar      IN  14.28   74.45  75.85        90         100        2.55
565  Machalí      CL -34.18  -70.67  77.05        36           2        5.70
569   Dingle      PH  11.00  122.67  76.19        86          92        3.80

<ipython-input-123-f8a9b9e480c3>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  weather_map_wind_df = weather_map_tempboth_df[wind_filter]

In [124]:
weather_map_wind_df.count()

city          102
country       102
lat           102
lon           102
temp          102
humidity      102
cloudiness    102
wind speed    102
dtype: int64

In [125]:
weather_map_sun_df = weather_map_wind_df[sun_filter]
print(weather_map_sun_df.tail())

        city country    lat    lon   temp  humidity  cloudiness  wind speed
371   Radaur      IN  30.03  77.15  77.20        40           0        3.02
421    Tigre      AR -34.43 -58.58  73.60        53           0        8.05
500  Neuquén      AR -38.95 -68.06  75.20        25           0        8.05
518    Nizwá      OM  22.93  57.53  78.66        17           0        8.19
538    Ibrā’      OM  22.69  58.53  77.18        17           0        9.01

<ipython-input-125-6fefb9caebf4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  weather_map_sun_df = weather_map_wind_df[sun_filter]

In [126]:
weather_map_sun_df.count()

city          10
country       10
lat           10
lon           10
temp          10
humidity      10
cloudiness    10
wind speed    10
dtype: int64

In [127]:
weather_map_sun_df

,city,country,lat,lon,temp,humidity,cloudiness,wind speed
33,Mendoza,AR,-32.89,-68.83,78.80,16,0,6.93
112,Morón,AR,-34.65,-58.62,75.27,38,0,1.99
142,Mercedes,AR,-34.65,-59.43,75.74,43,0,5.01
167,Santa Maria,BR,-29.68,-53.81,72.63,48,0,4.43
273,Poum,NC,-20.23,164.02,75.47,82,0,6.22
371,Radaur,IN,30.03,77.15,77.20,40,0,3.02
421,Tigre,AR,-34.43,-58.58,73.60,53,0,8.05
500,Neuquén,AR,-38.95,-68.06,75.20,25,0,8.05
518,Nizwá,OM,22.93,57.53,78.66,17,0,8.19
538,Ibrā’,OM,22.69,58.53,77.18,17,0,9.01

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [128]:
weather_map_sun_df["Hotel Name"] = ""
weather_map_sun_df.head()

<ipython-input-128-d155286f947b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_map_sun_df["Hotel Name"] = ""

,city,country,lat,lon,temp,humidity,cloudiness,wind speed,Hotel Name
33,Mendoza,AR,-32.89,-68.83,78.80,16,0,6.93,
112,Morón,AR,-34.65,-58.62,75.27,38,0,1.99,
142,Mercedes,AR,-34.65,-59.43,75.74,43,0,5.01,
167,Santa Maria,BR,-29.68,-53.81,72.63,48,0,4.43,
273,Poum,NC,-20.23,164.02,75.47,82,0,6.22,

In [129]:
weather_map_sun_df.head()

,city,country,lat,lon,temp,humidity,cloudiness,wind speed,Hotel Name
33,Mendoza,AR,-32.89,-68.83,78.80,16,0,6.93,
112,Morón,AR,-34.65,-58.62,75.27,38,0,1.99,
142,Mercedes,AR,-34.65,-59.43,75.74,43,0,5.01,
167,Santa Maria,BR,-29.68,-53.81,72.63,48,0,4.43,
273,Poum,NC,-20.23,164.02,75.47,82,0,6.22,

In [130]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in weather_map_sun_df.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lon"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
#     print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        weather_map_sun_df.loc[index, "Hotel"] = name_address["results"][0]["name"]
        weather_map_sun_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        weather_map_sun_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\Users\zach-\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\zach-\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [131]:
weather_map_sun_df

,city,country,lat,lon,temp,humidity,cloudiness,wind speed,Hotel Name,Hotel,Hotel Address,Hotel Rating
33,Mendoza,AR,-32.89,-68.83,78.80,16,0,6.93,,Cavas Wine Lodge S.A.,"Costaflores, Cobos s/n, Luján de Cuyo",4.7
112,Morón,AR,-34.65,-58.62,75.27,38,0,1.99,,Hilton Buenos Aires,"Macacha Güemes 351, BKG",4.6
142,Mercedes,AR,-34.65,-59.43,75.74,43,0,5.01,,Hotel San Carlos,"Zerboni y Zapiola, San Antonio de Areco",4.3
167,Santa Maria,BR,-29.68,-53.81,72.63,48,0,4.43,,Ivlas Boutique Hotel,"R. Martins Pena, 120 - Camobi, Santa Maria",4.7
273,Poum,NC,-20.23,164.02,75.47,82,0,6.22,,Karem Bay,RPN1,4.8
371,Radaur,IN,30.03,77.15,77.20,40,0,3.02,,Noormahal Karnal,"Noormahal Crossing, National Highway 1, Sector...",4.4
421,Tigre,AR,-34.43,-58.58,73.60,53,0,8.05,,Hilton Buenos Aires,"Macacha Güemes 351, BKG",4.6
500,Neuquén,AR,-38.95,-68.06,75.20,25,0,8.05,,Hotel del Comahue,"AYD, Avenida Argentina 377, Neuquén",4.1
518,Nizwá,OM,22.93,57.53,78.66,17,0,8.19,,Alila Jabal Akhdar,"Al Roose, Jabal Al Akhdar Al Jabal Al Akhdar OM",4.7
538,Ibrā’,OM,22.69,58.53,77.18,17,0,9.01,,معسكر ليالي الصحراء Desert Nights Camp,Al Wasil OM,4.5

In [141]:
hotel_df = weather_map_sun_df
hotel_df

,city,country,lat,lon,temp,humidity,cloudiness,wind speed,Hotel Name,Hotel,Hotel Address,Hotel Rating
33,Mendoza,AR,-32.89,-68.83,78.80,16,0,6.93,,Cavas Wine Lodge S.A.,"Costaflores, Cobos s/n, Luján de Cuyo",4.7
112,Morón,AR,-34.65,-58.62,75.27,38,0,1.99,,Hilton Buenos Aires,"Macacha Güemes 351, BKG",4.6
142,Mercedes,AR,-34.65,-59.43,75.74,43,0,5.01,,Hotel San Carlos,"Zerboni y Zapiola, San Antonio de Areco",4.3
167,Santa Maria,BR,-29.68,-53.81,72.63,48,0,4.43,,Ivlas Boutique Hotel,"R. Martins Pena, 120 - Camobi, Santa Maria",4.7
273,Poum,NC,-20.23,164.02,75.47,82,0,6.22,,Karem Bay,RPN1,4.8
371,Radaur,IN,30.03,77.15,77.20,40,0,3.02,,Noormahal Karnal,"Noormahal Crossing, National Highway 1, Sector...",4.4
421,Tigre,AR,-34.43,-58.58,73.60,53,0,8.05,,Hilton Buenos Aires,"Macacha Güemes 351, BKG",4.6
500,Neuquén,AR,-38.95,-68.06,75.20,25,0,8.05,,Hotel del Comahue,"AYD, Avenida Argentina 377, Neuquén",4.1
518,Nizwá,OM,22.93,57.53,78.66,17,0,8.19,,Alila Jabal Akhdar,"Al Roose, Jabal Al Akhdar Al Jabal Al Akhdar OM",4.7
538,Ibrā’,OM,22.69,58.53,77.18,17,0,9.01,,معسكر ليالي الصحراء Desert Nights Camp,Al Wasil OM,4.5

In [158]:

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [159]:
# # Extra copy
# # NOTE: Do not change any of the code in this cell

# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

In [160]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_template = hotel_info)

fig.add_layers(markers)

# Display figure
fig

TypeError: marker_layer() got an unexpected keyword argument 'info_box_template'